template(name="login")
    .loginbody
        if registering
            +register
        else
            +sign_in

        p.login-sign 
            |Do not have an acount? 
            span#login-linking {{sign_log}}

template(name="sign_in")
    .login-panel
        .login-panel-header
            img(src="images/logo_elever_centered.png", alt="logo", class="login-logo")
        .login-panel-body
            .login-panel-loginform
                form(method="post")
                    h3.login-header Username
                    input(type="text", placeholder="christian@eleverapp.com", name="username")
                    h3.login-header Password
                    input(type="password", placeholder=" ", name="userpassword")
                    input(type="submit", value="Login")
        .login-panel-footer
            .login-extras
                p 
                    i.fa.fa-square-o 
                    |Keep me logged in
                p   Forgot Username or Password?


template(name="register")
    .login-panel-extended
        .login-panel-header
            img(src="images/logo_elever_centered.png", alt="logo", class="login-logo")
        .login-panel-body
            .login-panel-loginform
                form(method="post")
                    h3.login-header Username
                    input(type="text", placeholder="Your username", name="regname")
                    h3.login-header E-Mail
                    input(type="text", placeholder="email@example.com", name="regemail")
                    h3.login-header Password
                    input(type="password", placeholder=" ", name="regpassword")
                    input(type="submit", value="Login")
        .login-panel-footer
            .login-extras
                p 
                    i.fa.fa-square-o 
                    |Keep me logged in
                p   Forgot Username or Password?
