.loginbody{
    width: 100vw;
    height: 100vh;
    background-color: #343D47;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-panel{
    height: 50%;
    width: 23%;
    background-color: white;
    border-radius: 10px;
}

.login-panel-extended{
    height: 70%;
    width: 23%;
    background-color: white;
    border-radius: 10px;
}

.login-panel-header{
    height: 30%;
    width: 100%;
    background-color: #30beb5;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-image: url("images/back_texture_login.svg");
    background-size: 85% auto;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-logo{
    height: 65%;
}

.login-panel-body{
    height: 50%;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-panel-loginform{
    width: 60%;
    height: 75%;
}

.login-panel-loginform form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.login-header{
    width: 100%;
    font-size: 1rem;
    color: #30beb5;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    font-weight: 400;
}

.login-panel-body input[type="text"],input[type="password"]{
    width: 100%;
    min-height: 27px;
    border: none;
    font-size: 0.9rem;
    box-sizing: border-box;
    padding-left: 1%;
    color: #8f8f8f;
    margin-bottom: 4%;
    border-bottom: solid 2px #30beb5;
    font-weight: 200;
}

.login-panel-body input:focus{
    outline: none;
    border-bottom: solid 2px #25adc4;
}

.login-panel-body input[type="submit"]{
    width: 100%;
    background-color: #30beb5;
    border: none;
    color: white;
    font-size: 1rem;
    height: 15%;
    border-radius: 4px;
    margin-top: 7%
}

.login-panel-footer{
    height: calc(20% - 1px);
    width: 100%;
    background-color: white;
    border-top: solid lightgray 1px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.login-extras{
    box-sizing: border-box;
    padding-top: 8.5%;
    text-align: center;
    font-size: 0.8rem;
    color: #7f7f7f;
}

.login-extras p{
    margin-bottom: 2%;
}

.login-sign{
    font-size: 0.8rem;
    margin-top: 0.5vh;
    color: white;
}

#login-linking{
    font-weight: bold;
    cursor: pointer;
}
