template(name="navigationBar")
    .navbar
        .logowrapper#sideToggle
          .logo

        .hamburgerwrap
            h1 
              i.fa.fa-bars

        form(action="#" method="method" class="searchform")
          input(type="text", placeholder="Search for something...") 
 
        .userdata
            .picture
                h3 {{uID}}
            .u-text
                h4 {{username}}
                p {{status}}
            .u-nav
                h2 
                    i.fa.fa-gear
 
        form(action="#" class="createLesson")
            button(type="submit" class="createBtn") Create A Lesson 
 
        .date
          h4 
            i.fa.fa-calendar
            |&emsp;{{today}} 
