.panelwrapper{
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

.sidepanel{
    width: 13%;
    min-width: 135px;
    height: 100%;
    box-sizing: border-box;
    padding-top: 50px;
    background-color: #3e4853;
    text-align: center;
    color: white;
    float: left;
}

.title{
    height: 10%;
    min-height: 70px;
    width: 100%;
    background-color: #292f37;
    display: flex;
    justify-content:flex-start;
    align-items:flex-end;
}

.title h5{
    margin-left: 0.5vw;
    margin-bottom: 0.5vw;
    line-height: 100%;
}
.underline{
    border-bottom-style: solid;
    border-color: #576575;
    border-width: 1.5px;
}

.title .fa{
    color: #22262d;
    background-color:#576575;
    padding: 5px;
    border-radius: 3px;
    margin-right: 0.2vw;
}
.sidemenuItem{
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    padding-left: 0.5vw;
    padding-bottom: 3vh;
    border-bottom: solid;
    margin-top: 5vh;
    border-color: #576575;
    border-width: 1.5px;
}

.sidemenuItem .fa{
    background-color:#576575;
    padding: 5.5px;
    border-radius: 3px;
    margin-right: 0.2vw;
}

.ccount{
    color: white;
    line-height: 175%;
    vertical-align: middle;
    float: right;
    margin-right: 0.75vw;
    box-sizing: border-box;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    background-color:#576575;
}

.course{
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}

.course h5{
    font-weight: 300;
    cursor: pointer;
}


.chig{
    padding: 1.5%;
    background-color: #22262d;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 0.7rem;
    margin-right: 0.3vw;
    font-weight: 600;
}

.course .fa{
    float: right;
    background-color: inherit;
    margin-right: 1vw;

}

#Teams{
    margin-top: 4vh;
    margin-bottom: 4vh;
    border-style: none;
    cursor: pointer;
}

.mainPanel{
    width: 100%;
    height: 100%;
    background-color: #f3f3f4;
    box-sizing: border-box;
    padding-left: 13%;
    padding-top: 50px;
}
.mainTitle{
    height: 10%;
    background-color: white;
    min-height: 70px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    box-sizing: border-box;
    color: #555555;
}

.head{
    height: 50%;
    width: 100%;
    box-sizing: border-box;
    padding-left: 3.7vw;
    background-color: white;
    position: relative;
    margin-bottom: 0.4rem;
}
.head h1{
    font-weight: 300;
    width: auto;
    float: left;
}

.head .fa{
    font-size: 1.4rem;
    margin-left: 0.1vw;
    margin-right: 0.5vw;
    line-height: 100%;
}

.head p{
    font-size: 0.7rem;
    float: left;
    height: 100%;
    line-height: 500%;
}

.holder{
    margin-bottom: 0.4rem;
    float: right;
    width: 45%;
    height: 50%;
    text-align: center;
    line-height: 115%;
    margin-right: 14vw;
    display: flex;
    align-items: flex-end;
}

#current{
    height: 50%;
    width: 62%;
    background-color: #30beb5;
    font-size: 0.6rem;
    font-weight: 400;
    color: white;
}

.holder h2{
    font-weight: 300;
    margin-left: 1vw;
    font-size: 1.1rem;
}

.subTitle{
    height:10%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: #555555;
}
.sub{
    background-color: red;
    display: none;
    /* FIXME: here */
}

@media screen and (max-width:960px){
    .sidepanel h5{
        font-size: 0.65rem;
    }
}

@media screen and (max-width:890px){
    .holder{
        margin-right: 0;
    }
    .holder h2{
        font-size: 0.8rem;
    }
}

@media screen and (max-width:660px){
    #update{
        display: none;
    }
    .holder{
        width: 60%;
    }
}

@media screen and (max-width:520px) {
    .holder{
        display: none;
    }
}
