template(name="mainpanels")
    .panelwrapper
        .sidepanel
            .title
                h5 
                  i.fa.fa-tachometer 
                  span.underline DASHBOARD

            +sidemenuItem
            
            +sidemenuItem

            .sidemenuItem#Teams
                h5
                    i.fa.fa-users 
                    | VIEW TEAMS
        .mainPanel
            .mainTitle
                .head
                    h1 Dashboard
                        i.fa.fa-circle-o-notch.fa-spin
                    p#update Last Update: Today at 13:20
                .holder
                    h3#current Current week number
                    h2 07 of 10
            .subTitle
                .sub
                    h3 Welcome Edgar Lopez!
            .contentwrapper
                .information
                .information
                .information
                    

template(name="sidemenuItem")
    .sidemenuItem
        h5
            i.fa.fa-file-o 
            | COURSES
            span.ccount {{Qcourses}}
            // loop for each course in db //
        +course

        +course


template(name="course")
    .course
        h5
            span.chig FM
            | {{coursename}}   
            .fa.fa-angle-left
