.panelwrapper{
    height: 100vh;
    min-height: 420px;
    width: 100vw;
    box-sizing: border-box;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

.sidepanel{
    width: 13%;
    min-width: 135px;
    height: 100%;
    box-sizing: border-box;
    padding-top: 50px;
    background-color: #3e4853;
    text-align: center;
    color: white;
    float: left;
}

.title{
    height: 10%;
    min-height: 70px;
    width: 100%;
    background-color: #292f37;
    display: flex;
    justify-content:flex-start;
    align-items:flex-end;
}

.title h5{
    margin-left: 0.5vw;
    margin-bottom: 0.5vw;
    line-height: 100%;
}
.underline{
    border-bottom-style: solid;
    border-color: #576575;
    border-width: 1.5px;
}

.title .fa{
    color: #22262d;
    background-color:#576575;
    padding: 5px;
    border-radius: 3px;
    margin-right: 0.2vw;
}
.sidemenuItem{
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    padding-left: 0.5vw;
    padding-bottom: 3vh;
    border-bottom: solid;
    margin-top: 5vh;
    border-color: #576575;
    border-width: 1.5px;
}

.sidemenuItem .fa{
    background-color:#576575;
    padding: 5.5px;
    border-radius: 3px;
    margin-right: 0.2vw;
}

.ccount{
    color: white;
    line-height: 175%;
    vertical-align: middle;
    float: right;
    margin-right: 0.75vw;
    box-sizing: border-box;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    background-color:#576575;
}

.course{
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}

.course h5{
    font-weight: 300;
    cursor: pointer;
}


.chig{
    padding: 1.5%;
    background-color: #22262d;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 0.7rem;
    margin-right: 0.3vw;
    font-weight: 600;
}

.course .fa{
    float: right;
    background-color: inherit;
    margin-right: 1vw;

}

#Teams{
    margin-top: 4vh;
    margin-bottom: 4vh;
    border-style: none;
    cursor: pointer;
}

.mainPanel{
    width: 100%;
    height: 100%;
    background-color: #f3f3f4;
    box-sizing: border-box;
    padding-left: 13%;
    padding-top: 50px;
}
.mainTitle{
    height: 10%;
    background-color: white;
    min-height: 70px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    box-sizing: border-box;
    color: #555555;
}

.head{
    height: 50%;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    position: relative;
}
.head h1{
    font-weight: 300;
    width: auto;
    float: left;
    margin-left: 4vw;
}

.head .fa{
    font-size: 1.4rem;
    margin-left: 0.1vw;
    margin-right: 0.5vw;
    line-height: 100%;
}

.head p{
    font-size: 0.7rem;
    float: left;
    height: 100%;
    line-height: 500%;
}

.holder{
    margin-bottom: 0.4rem;
    float: right;
    width: 45%;
    height: 50%;
    text-align: center;
    line-height: 115%;
    margin-right: 14vw;
    display: flex;
    align-items: flex-end;
}

#current{
    height: 50%;
    width: 62%;
    background-color: #30beb5;
    font-size: 0.6rem;
    font-weight: 400;
    color: white;
    line-height: 265%;
}

.holder h2{
    font-weight: 300;
    margin-left: 1vw;
    font-size: 1.1rem;
}

.subTitle{
    height: 5%;
    min-height: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    color: #555555;
}

.sub{
    height: 50%;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.sub h3{
    border-top-style: solid;
    border-color: #009f95;
    font-weight: 300;
    width: 22rem;
    float: left;
    margin-left: 4vw;
}
.contentwrapper{
    width: 100%;
    height: 82%;
    box-sizing: border-box;
    padding-left: 4vw;
    overflow-y: scroll;
}

.information{
    width: 82%;
    background-color: white;
    float: left;
    margin-bottom: 4vh;
    border-top: solid;
    border-width: 3px;
    border-color: #e4e8eb;
}

.ib_header{
    width: 100%;
    height: 4.5vh;
    border-bottom: solid;
    border-width: 1px;
    border-color: lightgray;
}
.ibh_title{
    width: 90%;
    height: 100%;
    box-sizing: border-box;
    padding-top:0.6%;
    padding-left: 1%;
    float: left;
    color: #292f37;
}

.ibh_title h3{
    margin-left: 1%;
    display: inline;
    font-weight: 300;
    font-size: 1.2rem;
}

.ibh_buttons{
    color:#e4e8eb;
    float: right;
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
}

.ibh_buttons .fa{
    font-size: 1.2rem;
    margin-left: 15%;
    margin-right: 15%;
}

.infoContent{
    width: 100%;
    /*background-color: lightgreen;*/
}
.over_header{
    height: 7vh;
    width: 100%;
    background-color: white;
    border-bottom: solid #009f95 1px;
    margin-bottom: 1.5%;
    min-width: 645px;
    min-height: 50px;
}

.over_label{
    height:1.5vh;
    width:100%;
    box-sizing: border-box;
    min-width: 645px;
    font-size: 0.85rem;
    min-height: 20px;
}

.over_row{
    width: 100%;
    height: 6vh;
    min-width: 645px;
    min-height: 48px;
    margin-bottom: 1.5%;
}

.over_block{
    height: 100%;
    width: 20%;
    float: left;
    text-align: center;;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.over_block h4, .over_block p{
    width: 100%;
    font-weight: 300;
}

.over_block h4, .over_block h5{
    width: 100%;
    color: #3bd1a9;
    font-weight: normal;
}

.over_block p{
    font-size: 0.8rem;
}

#titled{
    font-size: 1rem;
}

@media screen and (max-width:1040px){
    .contentwrapper{
            width:98%;
    }
    .information{
        width: 90%;
    }
}

@media screen and (max-width:960px){
    .sidepanel h5{
        font-size: 0.65rem;
    }
    .holder h2{
        font-size: 0.9rem;
    }
    .sub h3{
        width: 21rem;
    }
    .contentwrapper{
            width:97.5%;
    }
    .information{
        width: 95%;
    }
}

@media screen and (max-width:890px){
    .holder{
        margin-right: 0;
    }
    .holder h2{
        font-size: 0.8rem;
    }
    .contentwrapper{
            width:95%;
    }
    .infoContent{
        overflow-x: scroll;
    }
}

@media screen and (max-width:780px){
    .contentwrapper{
            width:auto;
            overflow-x: scroll;
    }
    .ibh_buttons{
        width: 20%;
    }
    .ibh_title{
        width: 80%;
    }
}

@media screen and (max-width:660px){
    #update{
        display: none;
    }
    .holder{
        width: 60%;
    }
    .sub h3{
        width: auto;
    }
}

@media screen and (max-width:520px) {
    .holder{
        display: none;
    }
    .ibh_title .fa{
        display: none;
    }
    .ibh_title{
        padding-top: 3.5%;
    }
    .ibh_title h3{
        font-size: 1rem;
    }
}

@media screen and (max-height:750px){
    .content{
        background-color: green;
        max-height: 73vh
    }
    .head h1{
        margin-bottom: 0.5vh;
    }
    .head p{
        margin-bottom: 0.4rem;
    }
}

@media screen and (max-height:610px){
    .content{
        background-color: tan;
        max-height: 68vh;
    }
}

@media screen and (max-height:610px){
    .content{
        background-color: orange;
        max-height: 62vh;
    }
}

@media screen and (max-height:610px){
    .content{
        background-color: orange;
        max-height: 60vh;
    }
}
